/* ---------- Page-Specific Layout CSS (Index) ---------- */

/* ---------- SCSS 공통 선언 시작 ---------- */



/* ---------- SCSS 공통 선언 종료 ---------- */
/* ---------- 영역 공통 선언 시작 ---------- */



/* ---------- 영역 공통 선언 종료 ---------- */
/* ---------- 하부 요소 시작 ---------- */



/* ---------- 하부 요소 종료 ---------- */
/* ---------- 페이지 특정 요소 시작 ---------- */

div#mainSlider {
    position: relative;
    width: 100%;
    height: 45vh;
    background: var(--color_bdr);
    box-shadow: var(--shd_minor);
    overflow: hidden;

    &::before {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: radial-gradient(farthest-corner at right, transparent 0%, rgba(var(--color_dark), .5) 100%);
        pointer-events: none;
        z-index: 1;
        content: '';
    }
}

.slider_item {
    position: relative;
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 45vh;
        object-fit: cover;
    }
}

.card_partner {
    position: relative;
    width: calc((100% - 1.5rem) / 4);
    height: 10rem;
    border: var(--border);
    background: rgb(var(--color_light));

    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &_overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: .5rem;
        height: 3rem;
        background: rgba(var(--color_dark), .5);
        backdrop-filter: blur(.25rem);
        transition: .3s;
        overflow: hidden;

        > h5,
        p {
            color: rgb(var(--color_light));
            font-weight: normal;
            transition: .3s;
        }
        
        > p {
            line-height: 1.6;
        }
    }

    &_desc {
        margin-top: 1rem;
        opacity: 0;
    }

    &_tag {
        position: absolute;
        bottom: .5rem;
        left: .5rem;
        right: .5rem;
        text-align: end;

        > span {
            display: inline-block;
            padding: .3rem .4rem;
            border-radius: var(--bdr_outer);
            background: rgb(var(--color_tone2));
            color: rgb(var(--color_acc2));
            font-size: var(--fnt_12);
            transition: .3s;
            opacity: 0;
        }
    }

    &:hover {
        > .card_partner_overlay {
            height: 100%;
        }

        .card_partner_desc {
            opacity: .8;
        }

        .card_partner_tag > span {
            opacity: 1;
        }
    }
}

.item_review {
    display: flex;
    position: relative;
    width: calc(58.5rem / 2);
    height: 17.5rem;
    border: var(--border);
    background: rgb(var(--color_light));

    &::before {
        display: block;
        position: absolute;
        top: .25rem;
        right: calc(100% - 17.2rem);
        padding: .15rem .5rem;
        border: .05rem solid currentColor;
        border-radius: var(--bdr_outer);
        font-family: var(--ff_eng);
        color: rgba(var(--color_light), .75);
        font-weight: bold;
        text-shadow: .05rem .05rem 0 rgba(var(--color_dark), .3);
        transition: .3s;
        z-index: 2;
        content: '';
    }

    &:is([data-category="byob"]) {
        &::before {
            border-color: #008841;
            background: rgb(var(--color_acc2));
            content: 'BYOB';
        }
    }

    &:is([data-category="list"]) {
        &::before {
            border-color: #dc801f;
            background: rgb(var(--color_acc1));
            content: 'LIST';
        }
    }

    > .review_image {
        width: 17.5rem;
        height: 100%;
        border-right: var(--border);
        object-fit: cover;
    }

    > .review_desc {
        width: 100%;
        height: 100%;
        padding: 1rem .5rem;

        h4 {
            font-family: var(--ff_serif);
        }
    }

    .review_text {
        width: 100%;
        height: 11rem;
        color: rgba(var(--color_text), .5);
        font-size: var(--fnt_14);
        line-height: 1.4;
        overflow-y: auto;

        &::-webkit-scrollbar {
            background: transparent;
        }
    }

    .review_info {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: .25rem 0 .5rem;
    }

    .review_star {
        margin-top: .5rem;
        padding: .5rem 0;
        border-top: var(--border);
    }
}

.short_banner {
    position: relative;
    width: calc(58.5rem / 2);
    height: 11rem;
    border-radius: var(--bdr_outer);

    > a {
        display: block;
        width: 100%;
        height: 100%;
    }

    * {
        position: absolute;
    }

    p:first-of-type {
        top: 1rem;
        left: 1.5rem;
        font-size: var(--fnt_16);
        font-weight: bold;
    }

    p:nth-of-type(2) {
        top: 5.5rem;
        left: 1.5rem;
        max-width: calc(100% - 3rem);
        font-size: var(--fnt_16);
        font-weight: bold;
        line-height: 1.2;
    }

    h2 {
        top: 3rem;
        left: 1.5rem;
        font-family: var(--ff_serif);
        color: rgb(var(--color_title));
    }

    &.banner_first {
        background: rgb(255, 210, 213) url('../images/main_banner03.png') no-repeat;
        background-position: bottom -1rem right -1rem;
        background-size: contain;
    }

    &.banner_second {
        background: rgb(195, 217, 241) url('../images/main_banner04.png') no-repeat;
        background-position: bottom -.5rem right -1rem;
        background-size: contain;
    }
}

.long_banner {
    position: relative;
    margin: 4rem 0;
    height: 8rem;
    border-radius: var(--bdr_outer);

    > a {
        display: block;
        width: 100%;
        height: 100%;
    }

    * {
        position: absolute;
    }
    
    p {
        top: 1.5rem;
        left: 1.5rem;
        font-size: var(--fnt_16);
        font-weight: bold;
    }

    h2 {
        top: 3.5rem;
        left: 1.5rem;
        font-family: var(--ff_serif);
        color: rgb(var(--color_title));
    }

    .banner_image {
        top: -1.5rem;
        right: 2.5rem;
        height: 11rem;
    }
}

#secBanner_01 {
    background: linear-gradient(to right, rgb(var(--color_tone2)) 50%, rgb(92, 139, 180) 100%);
}

#secBanner_02 {
    background: linear-gradient(to right, rgb(var(--color_tone1)) 50%, rgb(var(--color_acc1)) 100%);
}