/* ---------- Page-Specific Layout CSS (Gathering (Open)) ---------- */
/* ---------- 페이지 특정 요소 시작 ---------- */

#groupLIST {
    display: none;
}

#txtTitle,
#txtDesc_s {
    width: 100%;
}

.range_container {
    position: relative;
}

.range_spot {
    display: block;
    position: absolute;
    top: 1.15rem;
    width: .05rem;
    height: .5rem;
    background: rgb(var(--color_text));
    font-size: var(--fnt_12);
    pointer-events: none;

    &::after {
        display: block;
        position: absolute;
        top: calc(100% + .15rem);
        left: 50%;
        width: max-content;
        text-align: center;
        transform: translateX(-50%);
        content: attr(rangeval)'인';
    }

    &:nth-child(2) {
        left: .35rem;
    }

    &:nth-child(3) {
        left: calc((50% - (100% / 6 * 2)) + .25rem);
    }

    &:nth-child(4) {
        left: calc((50% - (100% / 6)) + .1rem);
    }

    &:nth-child(5) {
        left: calc(50% - .025rem);
    }

    &:nth-child(6) {
        right: calc((50% - (100% / 6)) + .1rem);
    }

    &:nth-child(7) {
        right: calc((50% - (100% / 6 * 2)) + .25rem);
    }

    &:nth-child(8) {
        right: .35rem;
    }
}

.frm_aligner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1.5rem;
}

.bring_wine {
    position: relative;
    padding: .75rem .5rem;
    border-radius: var(--bdr_outer);

    > .wine_icon {
        margin: 0 auto .25rem;
    }

    > .qty_container {
        display: flex;
        gap: .25rem;

        > input,
        button {
            display: block;
            text-align: center;
        }

        > input {
            width: 2rem;
            border: var(--border);
            padding: .4rem .5rem .35rem;
        }

        > button {
            width: 1.2rem;
            background: rgb(var(--color_text));
            color: rgb(var(--color_light));
        }
    }

    &.group_leader {
        background: rgb(var(--color_tone2));
        box-shadow: var(--shd_major);

        &:before {
            position: absolute;
            top: calc(100% + .25rem);
            left: 0;
            right: 0;
            font-family: var(--ff_sans_p);
            color: rgb(var(--color_acc2));
            font-size: var(--fnt_12);
            text-align: center;
            content: '주최자가 지참할 와인';
        }

        > .wine_selector {
            margin: 0 auto .25rem;
            width: 3rem;
            height: 3rem;
        }
    }
}

.group_wine_list {
    margin: 1rem auto 0;
    width: max-content;

    > li {
        display: flex;
        align-items: center;
        gap: .5rem;
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    #txtWineName {
        width: 10rem;
    }

    #txtWineVintage {
        width: 4rem;
    }

    #txtWinePrice_LIST {
        width: 6rem;
    }

    .wine_delete {
        width: 1.5rem;
        background: rgb(var(--color_text));
        color: rgb(var(--color_light));

        &:disabled {
            background: rgba(var(--color_dark), .25);
        }
    }
}

#txtWinePrice_BYOB {
    width: 100%;
}

#slctPricePoint {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    box-shadow: none;

    &:focus {
        box-shadow: 0 0 0 .1rem rgba(var(--color_acc1), .5);
    }
}

.btnGroupOpen {
    padding: .8rem;
    border-radius: var(--bdr_outer);
    background: rgb(var(--color_text));
    color: rgb(var(--color_light));
    font-size: var(--fnt_16);
    transition: .2s;

    &:hover {
        background: rgb(var(--color_acc1));
    }
}

.pop_open {
    cursor: pointer;
}

aside#popGroupEncore {
    display: none;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: rgba(0, 0, 0, .75);
    z-index: 1000;

    &.open {
        display: flex;
    }

    > #frmEncore {
        padding: .5rem;
        width: 30rem;
        border-radius: var(--bdr_outer);
        background: rgb(var(--color_bdr));

        > h4 {
            margin-bottom: .5rem;
            padding: .5rem;
        }

        > .btn_container {
            display: flex;
            align-items: center;
            padding-top: .5rem;
            height: 2rem;

            button {
                display: block;
                padding: .5rem 1rem;
            }

            .pop_trans {
                background: rgb(var(--color_acc2));
                color: rgb(var(--color_light));
            }
    
            .pop_close {
                background: rgb(var(--color_point1));
                color: rgb(var(--color_light));
            }

            p {
                margin-left: auto;
            }
        }

        

        > .encore_list {
            max-height: 50vh;
            overflow-y: auto;

            &::-webkit-scrollbar {
                background: transparent;
            }

            > li {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                gap: 1rem;
                padding: .75rem .5rem;
                border: var(--border);
                border-radius: var(--bdr_outer);
                background: rgb(var(--color_bg));

                &:hover {
                    border-color: rgb(var(--color_acc1));
                    background: rgb(var(--color_tone1));
                }

                & + li {
                    margin-top: .25rem;
                }

                > label {
                    width: 5rem;
                }
            }

            p {
                font-family: var(--ff_serif);
                font-size: var(--fnt_12);

                &:last-of-type {
                    margin-left: auto;
                }
            }
        }
    }
}