/* ---------- Default CSS ---------- */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

@font-face {
    font-family: 'AppleSDGothic';
    src: local('Apple SD Gothic Neo Regular'), url('../fonts/applesd.ttf'), local('Malgun Gothic');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'KoPubPro';
    src: local('KoPubPro'), url('../fonts/kopub_light.otf'), local('Malgun Gothic');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'KoPubPro';
    src: local('KoPubPro'), url('../fonts/kopub_normal.otf'), local('Malgun Gothic');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KoPubPro';
    src: local('KoPubPro'), url('../fonts/kopub_bold.otf'), local('Malgun Gothic');
    font-weight: bold;
    font-style: normal;
}

/* ---------- 폰트 불러오기 ---------- */
/* ---------- 기본 형태 선언 시작 ---------- */

:root {
    font-size: 20px; /* 사이즈 기본 단위 : 20px */
    line-height: 1;
    /* line-height: 1.8 (가독성이 필요한 본문 영역) */
    scroll-behavior: smooth;

    --px_1: .05rem;
    --px_3: .15rem;
    --px_5: .25rem;
    --px_10: .5rem;
    --px_15: .75rem;
    --px_20: 1rem;
    --px_24: 1.2rem;
    --px_30: 1.5rem;
    --px_36: 1.8rem;
    --px_40: 2rem;
    --px_48: 2.4rem;
    --px_60: 3rem;
    /* 주요 픽셀값 정의 */

    --ff_serif: 'KoPubPro'; /* 바탕체 같은거 */
    --ff_sans_n: 'Noto Sans KR'; /* 노토 */
    --ff_sans_p: 'AppleSDGothic'; /* 애플산돌 (메뉴 같은데) */
    --ff_eng: 'Miriam Libre'; /* 영어 폰트 */
    /* font-family 정의 */

    --fnt_40: 2rem; /* 카리스마 대빵큰글자 */
    --fnt_36: 1.8rem; /* 배너에 들어가는 큰 글자 */
    --fnt_30: 1.5rem; /* 섹션 타이틀 */
    --fnt_24: 1.2rem; /* 리뷰 제목 같은데 들어가는 타이틀 */
    --fnt_20: 1rem; /* 카드 등에 들어가는 타이틀 */
    --fnt_16: .8rem; /* 가독성이 필요한 본문글 */
    --fnt_14: .7rem; /* 일반적인 텍스트 */
    --fnt_12: .6rem; /* 제일 작은 설명글 */
    /* 폰트 사이즈 정의 */

    --color_title: 48, 42, 39; /* 시커먼 색 */
    --color_text: 102, 69, 69; /* 짙은 갈색 (본문 글자) */
    --color_footer: 136, 120, 99; /* 푸터 글자 색 */
    --color_acc1: 251, 153, 51; /* 메인 컬러 (주황색) */
    --color_acc2: 0, 168, 80; /* 메인 컬러 (초록색) */
    --color_tone1: 255, 208, 159; /* 주황색 톤다운 */
    --color_tone2: 196, 236, 224; /* 초록색 톤다운 */
    --color_bdr: 212, 206, 198; /* 보더 색깔 */
    --color_subtle: 217, 214, 186; /* 애매하게 연한 배경색 */
    --color_bg: 246, 244, 241; /* 바디 배경색 */
    /* 컬러 팔렛트 정의 */

    --color_point1: 216, 0, 0; /* 뻘건색 */
    --color_dark: 0, 0, 0; /* 어두운 색 */
    --color_light: 255, 255, 255; /* 밝은색 */
    /* 컬러 컨셉 정의 (다크 모드 변경시 필요) */

    --color_tag1: 242, 92, 102;
    --color_tag2: 248, 245, 203;
    --color_tag3: 167, 119, 230;
    --color_tag4: 190, 235, 179;
    --color_tag5: 170, 227, 239;
    --color_tag_x: 65, 65, 65;
    /* 아이템 태그 배경색 정의 (아직 안씀) */

    --shd_major: 0 .25rem .75rem rgba(var(--color_bdr), .3);
    --shd_minor: 0 0 1rem rgba(var(--color_bdr), .5);
    /* box-shadow 값 정의 */

    --border: .05rem solid rgb(var(--color_bdr));
    /* 자주 쓰는 박스 보더 */

    --bdr_outer: .15rem;
    --bdr_inner: .05rem;
    /* border-radius 값 정의 */
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background: rgb(var(--color_bg));
    font-family: var(--ff_sans_n), sans-serif;
    color: rgb(var(--color_text));
    font-size: .7rem; /* 기본 글자 크기 : 14px */
    font-weight: normal;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

img {
    display: block;
    border: none;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

form,
fieldset {
    border: none;
}

button,
input,
textarea,
select,
optgroup {
    border: none;
    background: none;
    vertical-align: middle;
}

hr {
    clear: both;
    border: none;
}

address {
    font-style: normal;
}

article,
aside,
details,
figcaption,
figure,
header,
footer,
hgroup,
main,
nav,
section,
summary { /* html5shiv */
    display: block;
}

/* ---------- 기본 형태 선언 종료 ---------- */
/* ---------- 공통 선언 시작 ---------- */

body.prevent_scroll {
    overflow: hidden;
}

#wrap { /* 전체 랩핑 */
    position: relative;
    width: 100%;
    height: 100%;
}

#wrapMain {
    margin: 1rem auto 5rem;
    min-height: 100vh;

    &.sub {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
}

.int_wrap { /* 내부 박스 사이징 */
    margin: 0 auto;
    padding: 0 .5rem;
    max-width: 60rem;
}

.scr_alt { /* 스크린 리더용 얼터닛 텍스트 */
    text-indent: -500000rem;
    overflow: hidden;
}

.clr_fix::after { /* 클리어픽스 */
    display: block;
    clear: both;
    content: '';
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:active {
    color: inherit;
}

/* ---------- 공통 선언 종료 ---------- */
/* ---------- 우선 / 예외 선언 시작 ---------- */

h1#mainLogo {
    width: 10rem;
    height: 3rem;
    border: none;
    font-family: 'Berkshire Swash', cursive;
    color: rgb(var(--color_acc1));
    font-size: var(--fnt_24);
    font-weight: normal;
}

h1#mainLogo > a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: .3rem;
    height: 100%;
}

hr.hf { /* 가로줄 */
    width: 100%;
    height: .05rem;
}

hr.vf { /* 세로줄 */
    width: .05rem;
    height: 100%;
}

h2 {
    font-size: var(--fnt_36);
}

h3 {
    font-family: var(--ff_serif);
    color: rgb(var(--color_title));
    font-size: var(--fnt_30);
}

h4 {
    font-size: var(--fnt_24);
}

h5 {
    font-family: var(--ff_serif);
    color: rgb(var(--color_title));
    font-size: var(--fnt_20);
    font-weight: bold;
}

h6 {
    color: rgb(var(--color_title));
    font-size: var(--fnt_16);
}

/* ---------- 우선 / 예외 선언 종료 ---------- */