@charset "UTF-8";
/* ---------- Page-Specific Layout CSS (Customer Service Center - Board List) ---------- */
/* ---------- 페이지 특정 요소 시작 ---------- */
table {
	width: 100%;
	font-size: var(--fnt_12);
	text-align: center;
}

thead tr {
	background: rgb(var(--color_text));
	color: rgb(var(--color_light));
}

tbody tr {
	border-bottom: 0.05rem solid rgb(var(--color_bdr));
}
tbody tr:nth-child(2n) {
	background: rgb(var(--color_bg));
}
tbody tr:hover {
	background: rgb(var(--color_tone1));
	font-weight: bold;
}

tr td:nth-child(3) {
	text-align: start;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
tr td:nth-child(3) a {
	display: block;
}

th, td {
	padding: 0.5rem;
}

th {
	font-weight: normal;
}

.article_num {
	width: 5%;
}

.article_cate {
	width: 12%;
}

.article_title {
	width: 58%;
}

.article_author {
	width: 10%;
}

.article_date {
	width: 15%;
}

.board_paging {
	margin: auto;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	text-align: center;
}
.board_paging > li {
	float: left;
	padding: 0.25rem;
	border-radius: var(--bdr_outer);
}
.board_paging > li + li {
	margin-left: 0.5rem;
}
.board_paging > li:not(.paging_prev, .paging_next) {
	width: 1.5rem;
}
.board_paging > li:is(.paging_now) {
	background: rgb(var(--color_text));
	color: rgb(var(--color_light));
}